.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  min-height: 100%;
}
body {
  background: #0d0514;
  background: -webkit-linear-gradient(-135deg, #6b656b, #414144);
  background: -o-linear-gradient(-135deg, #645f64, #d4d4d4);
  background: -moz-linear-gradient(-135deg, #a3a1a3, #717275);
  background: linear-gradient(332deg, #524f4f, #4c4a4a);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.title {
  max-width: 60%;
  margin: auto;
  border-radius: 5px;
  text-align: left;
  margin-top: 50px;
  color: rgb(196, 190, 190);
}

.info {
  max-width: 60%;
  margin: auto;
  border-radius: 5px;
  text-align: left;
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.outer-box {
  padding-left: 5px;
}
